.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list {
    all: unset;
    width: 600px;
    height: 24vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 8px;
}

.withScroll {
    overflow-y: scroll;
}



.info {
    display: flex;
    justify-content: end;
}

.priceWrapper {
    display: flex;
    align-items: center;
    
}