.main {
    display: flex;
    
    gap: 60px;
}

.nav {
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.content {
    width: 872px;
    display: flex;
}