.wrapper {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
}

.ingredients {
    height: 50vh;
    overflow-y: scroll;
}

.items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 32px;
}

.item {
    width: 272px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.counter {
    position: absolute;
    top: 0;
    right: 0;
}

.price {
    display: flex;
    align-items: center;
}
